@model SampleProjectPostTitle.Models.Posts
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="my-3">
                    <a href="/" class=" text-decoration-none text-dark">
                        <i class="fa-solid fa-arrow-left mx-1"></i>Back
                    </a>
                </div>

                <h3>@Model.Title</h3>

                <div class="btn btn-sm bg-dark text-white me-2 my-3"><i class="fa-solid fa-money-bill-1 text-success mx-1"></i>@Model.Price kyats</div>
                <div class="btn btn-sm bg-dark text-white me-2 my-3"><i class="fa-solid fa-location-dot text-danger text-success mx-1"></i>@Model.Location</div>
                <div class="btn btn-sm bg-dark text-white me-2 my-3"><i class="fa-solid fa-star text-warning mx-1"></i>@Model.Rate</div>
                <div class="btn btn-sm bg-dark text-white me-2 my-3"><i class="fa-solid fa-calendar-day text-white mx-1"></i>@Model.Created_Date.ToString("dd-MM-yyyy")</div>
                <div class="btn btn-sm bg-dark text-white me-2 my-3"><i class="fa-solid fa-clock text-white mx-1"></i>@Model.Created_Date.ToString("h:m tt")</div>

                <div>
                    <img src="~/Image/@Model.Image" class="img-thumbnail shadow-sm mb-4" />
                </div>
                <p class="text-muted">@Model.Description</p>
                <a href="edit?id=@Model.ID"><button type="submit" value="" class="btn btn-dark mt-2 float-end">Edit</button></a>
            </div>
        </div>
    </div>
</body>
</html>
